.displayContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 200px;
    padding: 30px 0;
    background: radial-gradient(circle at 70% 30%, #1d346155 0%, transparent 70%);
}

.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--TEXTS-COLOR);
}

.cityInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: clamp(1.8rem, 6vw, 3rem);
    color: white;
    margin: 0;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.humidity{
    font-size: 0.9rem;
    margin-bottom: 20px;
}

span.temp{
    color: white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    font-size: clamp(1.8rem, 6vw, 3rem);
    font-weight: 600;
    margin-left: 5px;
}

.imgWrapper{
    object-fit: contain;
}

.imgWrapper img{
    width: clamp(80px, 20vw, 150px);
}

@media (max-width: 480px) {
    .displayContainer{
        flex-direction: column;
        padding: 20px 10px;
        gap: 10px;
    }

    .humidity{
        margin-bottom: 5px;
    }
}