
.subscribeContainer{
    background-color: var(--CONTAINERS-BG);
    display: flex;
    flex-direction: column;
    padding: 10px 25px 20px;
    border-radius: 10px;
    /* gap: 15px; */
    height: auto;
    width: 50%;
    min-height: 350px;
}

.newsLetterContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h4{
    color: var(--ACCENT-LIGHT);
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.darkerTitle{
    color: var(--DARKER-COLOR);
}

h4 + p{
    color: var(--DARKER-MEDIUM);
    font-size: 1rem;
    max-width: 500px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.emailContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.emailContainer input{
    width: 100%;
    height: 40px;
    padding: 25px 20Px;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    color:var(--ACCENT);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.3);
    background-color: var(--CONTAINERS-BG);
    outline: none; /* deleted soon! */
}


.emailContainer input::placeholder{
    font-size: 1.15rem;
    color: var(--DARKER-COLOR);
    font-weight: 400;
    letter-spacing: 0.3px;
}
.subBtn{
    width: 100%;
    padding: 16px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    background-color: var(--ACCENT);
    color: aliceblue;
    font-weight: bold;
    filter: drop-shadow;
}

.mediaContainer{
    display: flex;
    gap: 15px;
    border-radius: 15px;
    width: 30%;
    padding: 0px;
}

.mediaIcon img{
    height: 34px;
    width: 34px;
    filter: invert(1);
    transition: filter 0.3s ease-in-out, transform 0.3s ease;
}  
.mediaIcon img:hover{
    transform: scale(1.1);
    filter: 
    drop-shadow(0 0 5px var(--ACCENT-LIGHT)) 
    drop-shadow(0 0 15px rgba(96, 165, 250, 0.4)) 
    drop-shadow(0 0 25px rgba(29, 52, 97, 0.2));
           
}


.analyzingSub{
    color: yellow;
    font-weight: 600;
}
.success{
    color: rgb(29, 161, 29);
    font-weight: 600;
}
.error{
    color: rgb(203, 26, 26);
    font-weight: 600;
}








.copyrightContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--DARKER-COLOR);
    width: 100%;
    font-size: 0.9rem;
    padding-top: 10px;
}

@media screen and (max-width:1265px) {
    .subscribeContainer{
        width: 100%;
        max-width: 650px;
        align-self: center;
    }
    .newsLetterContainer{
        align-items: center;
        justify-content: center;
    }
    h4{
        font-size: 2.4rem;
    }
    h4 + p{
        font-size: 1.1rem;
    }
    .emailContainer{
        flex-direction: column;
        gap: 20px;
    }
    .subBtn{
        width: 100%;
    }
    .copyrightContainer{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .mediaContainer{
        align-items: center;
        order: -1;
    }
    .subBtn{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:675px){
    h4{
        font-size: 2rem;
    }
    h4 + p{
        font-size: 1rem;
    }
    .mediaIcon img{
        width: 25px;
        height: 25px;
    }
    
}
