.underContainer{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    min-height: 330px;
}

@media screen and (max-width:1265px) {
    .underContainer{
        flex-direction: column;
        gap: 20px;
    }
}